@import (reference) '../../less/variables.less';

.footer {
  padding: 32px 16px 72px;
  background-image: @services__bg, url('footer__bg.jpg');
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__logo-link {
  display: flex;
  margin-bottom: 32px;
}

.footer__logo-image {
  width: 223px;
  height: 32px;
}

.footer__copyright {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 47px;
}

.footer__navigation {
  display: none;
}

.footer__contacts {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer__develop {
  font-size: 12px;
  line-height: 18px;
  margin-top: 48px;
}
